*.Rdata
*.RData
.Rdata
.RData
.Rproj.user
.Rhistory
.Rproj.user/*
/.Rproj.user
.Rhistory*
results/*.RDS
results_sensitivity/*.RDS
data/
.o
.so
*.Rhistory
thinnedDDP/.Rhistory
thinnedDDP/.Rproj.user
thinnedDDP/.Rbuildignore
thinnedDDP/src/*.o
thinnedDDP/src/*.so
density_*
